@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Libre+Franklin:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&display=swap');
$mainColor: #ef233c;
$mainColorHover: #d90429;
$secColor: #8d99ae;
$thirdColor: #2b2d42;
$thirdColorLight: #669BBC;
$fourthColor: #edf2f4;
$maxWidth: 1170px;

:root {
    --marginSize: 2vw;
    --cardSize: 27vw;

    @include ultraWide {
        --cardSize: 15vw;
    }

    @include tablet {
        --cardSize: 30vw;
    }

    @include phone {
        --cardSize: 75vw;
        --marginSize: 4vw;
    }
}

* {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $fourthColor;
}

@mixin logo {

    color: $fourthColor;
    font-family: 'Pridi', serif;
    cursor: context-menu;

    &::selection,
    span::selection {
        background-color: rgba(0, 0, 0, 0);

    }

    .title {
        font-size: 2rem;

        .p {
            height: 100%;
            color: $mainColor;
            font-size: 3rem;

            transition: 0.5s;
        }

        .pDark {
            color: $fourthColor;
        }
    }
}