body {
    overflow: hidden;

    .loadScreen {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        position: sticky;
        top: 0;
        background-color: $loadScreenColor;
        width: 100vw;
        height: 100vh;

        z-index: 99999999;

        transition: 1s;

        img {
            height: 7rem
        }

        span {
            @include logo;
            display: flex;
            justify-content: center;
            align-items: center;

            .title {
                font-size: 3.8rem;

                .p {
                    font-size: 5rem;
                }
            }
        }

        .logo {
            display: flex;
        }

        p {
            color: $fourthColor;
        }

    }
}